altair
annotated-types
anyio
attrs
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
decorator
deprecation
distro
duckduckgo_search
exceptiongroup
frozendict
gitdb
GitPython
h11
html5lib
httpcore
httpx
idna
Jinja2
jiter
jsonschema
jsonschema-specifications
lancedb
lxml
markdown-it-py
MarkupSafe
mdurl
multitasking
narwhals
openai
overrides
packaging
peewee
pgvector
phidata
pillow
platformdirs
primp
protobuf
psycopg
py
pyarrow
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
pylance
pypdf
python-dateutil
python-dotenv
pytz
PyYAML
referencing
requests
retry
rich
rpds-py
setuptools
shellingham
six
smmap
sniffio
soupsieve
SQLAlchemy
streamlit
# tantivy
tenacity
toml
tomli
tornado
tqdm
typer
typing_extensions
tzdata
urllib3
watchdog
webencodings
wheel
yfinance
fastapi
uvicorn